.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reviews-bg.png');
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  font-family: 'Roboto';
  font-size: 30px;
  color: #ffffff;
}
.carousel-container {
  display: flex;
  justify-content: space-around;
  width: 700px;
}
.arrow-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.review-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 300px;
}

.username {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 700;
}

.company {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 14px;
}

.description {
  text-align: center;
  color: #171f46;
  font-family: 'Roboto';
  font-size: 16px;
}
